<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="threadFactory" class="com.ideal.ExecutorFactory"></bean>
    <bean id="multithreadMQProducer" class="com.ideal.MultithreadMQProducer"></bean>


</beans>